@import 'notification.css';

.flex-1 {
    flex:1;
}
.pl-5 {
    padding-left:5px;
}
.pl-10 {
    padding-left:10px;
}
.pr-5 {
    padding-right:5px;
}
.pr-10 {
    padding-right:10px;
}
.mt-5 {
    margin-top:5px;
}
.mt-10 {
    margin-top:10px;
}
.mt-20 {
    margin-top:20px;
}
.mt-0 {
    margin-top:0px;
}
.m-10 {
    margin:10px;
}
.m-20 {
    margin:20px;
}
.m-width-10 {
    margin-left:10px;
    margin-right:10px;
}
.m-width-20 {
    margin-left:20px;
    margin-right:20px;
}
.m-height-10 {
    margin-top:10px;
    margin-bottom:10px;
}