div.notification {
    width: 500px;
    margin:0 auto;
    margin-top: 30px;
    padding: 20px 20px;
    color: white;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
}

div.notification h4 {
    border-bottom: 2px solid white;
}
.success {
    background: #28a745;
}
.warning {
    background: #ffc107;
}
.info {
    background: #17a2b8;
}
.danger {
    background: #dc3545;
}